* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f3f3f3;
    font-size: 15px;
    line-height: 22px;
}

hr {
    border: none;
    background: black;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fefefe;
}

.result {
    padding: 20px;
    border: 2px black solid;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    margin-bottom: 20px;
    word-break: break-all;
}

button {
    background: none;
    border: 2px solid black;
    padding: 5px 10px;
}

button:hover {
    border-color: #0ca678;
}

li {
    margin: 5px 0;
}

code {
    color: #0ca678;
    padding: 2px;
}

a {
    color: #0ca678;
}

blockquote {
    margin: 0;
    padding-left: 20px;
    border-left: 0.25em solid #0ca678;
}